*, *::before, *::after {
    box-sizing: border-box;
    border-style: none;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
  
:root {
    --theme-color-black: #333333; /* rgba(51, 51, 51, 1) */
    --theme-color-brown: #423A3A; 
    --theme-color-red: #CD3A24;
    --theme-color-white: #FEFFFF; /* rgba(254, 255, 255, 1) */
}
  
/* ---------- MAIN BODY DECLERATIONS ---------- */

html, body {
    background-color: var(--theme-color-white);
    font-family: "Montserrat";
    font-size: 18px;
    height: 100%;
    min-height: 100vh;
    min-width: 100%;
    width: 100%;
}

body {
    align-items: center;
    display: flex;
    flex-direction: column;
}

main {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    width: 100%;
    max-width: 40em;
}

#Toggle-Switches-Container {
    align-items: center;
    display: flex;
    flex-direction: row;

    background-color: pink;
}

#Toggle-Switches-Container section {
    text-align: center;
    margin: 3em;
}

.toggle-contents-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.toggle-wrapper {
    background-color: red;
    border: 2px solid black;
    border-radius: 35px;
    width: 3.5em;
    margin: .5em 1.25em;
}

.toggle-dot {
    background-color: green;
    margin: 2px;
    border-radius: 35px;
    height: 1.5em;
    width: 1.5em;
}

.container {
    border: 1px solid black;
    height: 50%;
    margin: 0 auto;
    width: 80%;
}

.selector {
    background-color: lightgrey;
    border-bottom: 1px solid grey;
    display: flex;
}

.tab {
    padding: 10px;
}

.tab:hover {
    background-color: grey;
    cursor: pointer;
}

.content {
    padding: 10px;
}

.content-body {
    display: none;
}

.show-active {
    display: block;
    animation: fade-in 1s;
}

.tab-active {
    background-color: darkgrey;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* MEDIA QUERY TEMPLATE FROM https://www.w3schools.com/css/css_rwd_mediaqueries.asp */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}