*, *::before, *::after {
    box-sizing: border-box;
    border-style: none;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
  
:root {
    --theme-color-black: #333333; /* rgba(51, 51, 51, 1) */
    --theme-color-brown: #423A3A; 
    --theme-color-red: #CD3A24;
    --theme-color-white: #FEFFFF; /* rgba(254, 255, 255, 1) */
}
  
/* ---------- MAIN BODY DECLERATIONS ---------- */

html, body {
    background-color: var(--theme-color-white);
    font-family: "Montserrat";
    font-size: 14px;
    height: 100%;
    min-height: 100vh;
    min-width: 100%;
    width: 100%;
}

main {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

.container {
    border: 1px solid black;
    height: 50%;
    margin: 0 auto;
    width: 80%;
}

.selector {
    background-color: lightgrey;
    border-bottom: 1px solid grey;
    display: flex;
}

.tab {
    padding: 10px;
}

.tab:hover {
    background-color: darkgrey;
    cursor: pointer;
}

.content {
    padding: 10px;
}



/* MEDIA QUERY TEMPLATE FROM https://www.w3schools.com/css/css_rwd_mediaqueries.asp */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}